html,
body {
	font-family: 'Roboto', Arial, sans-serif;
	min-height: 100%;
	height: 100%;
	font-size: 16px;
	color: #444; 
}
input,
button {
	outline: none;
}

/* HEADER */
header {
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}
.header-carousel img {
	position: relative;
    width: 100%;
    height: 726px;
    margin-right: -100%;
    z-index: 1;
}
.logo-nav-box {
	padding: 0 48px;
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% - 96px);
	z-index: 20;
}
.logo {
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 4px);
}
.logo span {
	color: #d90000;
	font-weight: 400;
}
.logo-nav-box a {
	font-size: 13px;
	line-height: 60px;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
}
nav {
	display: inline-block;
	vertical-align: top;
	width: calc(75% - 4px);
	text-align: right;
}
nav a {
	color: rgba(255,255,255,.8);
	margin-left: 42px;
}
nav a:hover {
	color: #d90000;
	transition: 0.5s;
}
nav a:first-of-type {
	color: #d90000;
	font-weight: 700;
}
nav a:last-of-type {
	color: #fff;
	font-weight: 400;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 8px 10px;
}
nav a:last-of-type:hover {
	color: #fff;
	background-color: #d90000;
	border: 1px solid #d90000;
	transition: 0.5s;
}
.logo a {
	font-size: 24px;
	line-height: 60px;
	color: #fff;
}
.logo a img {
	float: left;
	height: 45px;
	width: 55px;
	margin-top: 5px;
}

/* NAVBAR-FIXED-TOP */
.navbar-fixed-top {
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
	padding: 0 48px;
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% - 96px);
	z-index: 100;
}	
.navbar-fixed-top nav a {
	color: #666;
	font-weight: 400;
}
.navbar-fixed-top nav a:hover {
	color: #d90000;
}
.navbar-fixed-top nav a:first-of-type {
	color: #d90000;
	font-weight: 700;
}
.navbar-fixed-top nav a:last-of-type {
	color: #fff;
	background-color: #d90000;
	font-weight: 400;
	border: 1px solid #d90000;
	border-radius: 4px;
	padding: 8px 10px;
}
.navbar-fixed-top .logo a {
	color: #000;
	font-weight: 400;
}

/* MAIN TITLE */
.main-title-box {
	position: absolute;
	top: 18%;
	height: 100%;
	text-align: center;
}
.main-title-box h1 {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0,.5);
	font-size: 46px;
	line-height: 50.6px;
	font-weight: 700;
	margin-bottom: 20px;
}
.main-title-box h2 {
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	color: rgba(255, 255, 255,.8);
	margin: 0 285px 45px 285px;
}

/* SEARCH BOX */
.search-box {
	width: 100%;
}
.search-box-container {
	position: relative;
	display: inline-block;
	width: 70%;
	max-width: 400px;
}
.search-box-container input {
	position: relative;
	width: 97%;
	height: 42px;
	background: #f9f9f9;
	border: 1px solid #fff;
	border-radius: 10px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 300;
}
.search-box-container button {
	position: absolute;
	background: 0 0;
	border: none;
	color: #333;
	top: 12px;
	right: 8px;
}
.search-box-container button i {
	font-size: 18px;
	cursor: pointer;
}

/* UPLOAD BUTTON */
.upload-btn-container {
	display: inline-block;
}
.upload-btn-container span {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	color: #ddd;
}
.upload-btn-container a {
	display: inline-block;
	background: #d90000;
	border: 2px solid #d90000;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	text-transform: capitalize;
	text-decoration: none;
	padding: 8px 30px;
	padding-left: 10px;
	padding-right: 10px;
}
.upload-btn-container a i{
	margin-right: 5px;
}

/* TRENDING MUSIC */
.trending-music {
	margin-top: 135px;
}
.trending-music h3 {
	margin: 10px 15px;
	text-align: left;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}
.trending-music-list {
	text-align: left;
}
.trending-music-list li {
	display: inline-block;
	position: relative;
	margin: 7px;
	overflow: hidden;
	height: 145px;
	width: 145px;
	border-radius: 4px;
}
.trending-music-item a {
	display: block;
	width: 100%;
}
.trending-music-list li a:first-of-type:hover:before {
	content: "";
	background-color: rgba(0, 0, 0,.4);
	padding: 73px 73px;
	position: absolute;
	top: 0;
}
.trending-music-list li a:first-of-type:after {
	content: "";
	background-color: rgba(0,0,0,.75);
	padding: 10px 73px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.trending-music-item a i {
	background-image: url(../img/play-icon.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 64px;
	width: 64px;
	background-size: 64px;
	margin: 50% 0 0 50%;
	top: -32px;
	left: -32px;
} 
.trending-music-item a:last-of-type {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.trending-music-item a:last-of-type:hover {
	color: #d90000;
	text-decoration: underline;
	transition: 0.5s;
}


/* SECTIONS */

/* SOCIAL MUSIC MARKETPLACE SECTION */
.smm {
	padding: 80px 0;
	margin: 0 55px;
}
.smm-image {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	margin: 15px 0;
}
.smm-image img {
	max-width: 510px;
	height: 375px;
}
.smm-container {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	margin: 10px 0 15px 0;
	width: 570px;
	height: 383px;
}
.smm-container h1 {
	font-size: 36px;
	line-height: 40px;
	text-transform: capitalize;
	color: #d50f15;
	margin-bottom: 10px;
}
.smm-container p {
	line-height: 32px;
	margin-bottom: 15px;
}
.smm-container strong {
	font-weight: 700;
}
.smm-container a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	background: #fff;
	border: 2px solid #d90000;
	border-radius: 6px;
	color: #d90000;
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
	font-weight: 500;
	padding: 10px 58px;
	margin-top: 15px;
}
.smm-container a:hover {
	color: #fff;
	font-weight: 400;
	background-color: #d90000;
	border: 2px solid #d90000;
	transition: 0.5s;
}

/* TESTIMONIALS SECTION */
.testimonials  {
	background-color: #f5f5f5;
	padding: 15px 0 12px;
}
.testimonials-carousel {
	position: relative;
	overflow: hidden;
	margin: 0 152px;
	padding: 0 15px;
}
.carousel-item-image {
	display: inline-block;
	vertical-align: top;
}
.carousel-item-image img {
	border-radius: 50%;
}
.carousel-item-content {
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	padding-top: 20px;
}
.carousel-item-content i {
	color: #363636;
	font-size: 22px;
	margin-right: 30px;
}
.carousel-item-content p:first-of-type {
	position: relative;
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	padding-top: 10px;
	margin-bottom: 20px;
}
.carousel-item-content p:last-of-type {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 5px;
	margin-left: 50px;
}

/* VERIFIED MEMBERS SECTION */
.verified-members {
	border-top: 1px solid #eaeef1;
	padding: 80px 0;
	margin: 0 55px;
}
.verified-members h1 {
	text-align: center;
	text-transform: capitalize;
	color: #d50f15;
	font-size: 26px;
	line-height: 28.6px;
	margin-bottom: 15px;
}
.verified-members-list li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: calc(16.6% - 34px);
	padding: 15px;
}
.verified-members-item a {
	display: block;
	color: #31708f;
	text-decoration: none;
	font-size: 12px;
	line-height: 17px;
	margin-top: 10px;
}
.verified-members-item a img {
	width: 90%;
	height: 90%;
	border-radius: 50%;
}
.verified-members-item a img:hover {
	opacity: .7;
}
.verified-members-item a span {
	display: block;
	margin-top: 10px;
}
.verified-members-item a:last-of-type {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	background: linear-gradient(to bottom,#d50f15 0,#d10000 100%);
	box-shadow: 0 2px 0 rgba(255,255,255,.3)inset,0 1px 1px rgba(100,100,100,.3);
	border-radius: 5px;
	color: #fff;
	font-size: 11px;
	line-height: 16.5px;
	font-weight: 300;
	padding: 5px 10px;
}
.verified-members-item a:last-of-type:hover {
	background: linear-gradient(to bottom,#2b2b30 0,#000 100%);
	opacity: .8;
}

/* CTA SECTION */
.cta {
	background: url(../img/cta-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 340px;
	color: #fff;
	padding-top: 80px;
}
.cta-container {
	text-align: center;
	padding: 0 15px 0 0;
	margin: 0 55px;
}
.cta-container h1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 60px;
}
.cta-container h2 {
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	margin: 0 220px 15px 220px;
}
.cta-container a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-transform: capitalize;
	background: #d90000;
	border: 2px solid #d90000;
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
	line-height: 29px;
	padding: 8px 30px;
}

/* FOOTER */
footer {
	background: #121212;
    color: #fff;
    padding-top: 40px;
    font-size: 14px;
    position: relative;
    top: -10px;
}
.ft-container {
	padding: 0 15px;
	margin: 0 55px;
}
.ft-list>li {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 0 0;
	margin-bottom: 30px;
	min-width: 165px;
	min-height: 119px;
}
.ft-list li p {
	font-size: 18px;
	line-height: 20px;
	font-weight: 300;
	opacity: .9;
	margin-bottom: 20px;
}
.ft-list-content li {
	margin-bottom: 10px;
}
.ft-list-content li a {
	color: #999;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.ft-list-content li a:hover {
	text-decoration: underline;
}
.ft-list-content li a i {
	margin-right: 5px;
}

.ft-copy {
	background: #0e0e0e;
    color: #b3b3b3;
    font-size: 14px;
    padding: 10px 0;
}
.ft-copy p {
	color: #999;
	font-size: 12px;
	line-height: 19px;
	font-weight: 300;
	padding: 0 15px;
	margin: 0 55px;
}
.ft-copy p a {
	color: #d90000;
	text-decoration: none;
}
.ft-copy p a:hover {
	text-decoration: underline;
}

/* PLAYER */

.player {
	margin-top: 29px;
}






